<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nodrev.bgfx.examples.helloworld">

    <!-- This is the default platform API bgfx uses. -->
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hasCode="false">

        <!-- Our activity is the built-in NativeActivity framework class.
                     This will take care of integrating with our NDK code. -->
        <activity android:name="android.app.NativeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <!-- Tell NativeActivity the name of our .so (strip 'lib' and '.so') -->
            <meta-data android:name="android.app.lib_name"
                android:value="example-00-helloworldRelease" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
